{% extends 'base.html' %}

{% block content %}
         <div class="jumbotron">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
               <div class="content">
                    <h2>用户须知</h2>
                    <p>本网站完全自由进行交易</p>
                    <p>建议使用微信进行沟通交易</p>
                    <p>不要随意转让球员，以防被骗</p>
                    <p>可以选择我们的担保服务，诚信可靠</p>
                    <p>未通过本网站的担保服务而被骗的</p>
                    <p>本站概不负责！</p>
               </div>
            </div>
             <div class="col-md-3">

            </div>
        </div>
    </div>


{% endblock %}