{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/nav.html' import render_nav_item %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Settings</h1>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="nav nav-pills flex-column" role="tablist" aria-orientation="vertical">
                {{ render_nav_item('user.change_weixin', '变更微信') }}
                {{ render_nav_item('user.change_password', '变更密码') }}
                {{ render_nav_item('user.change_email_request', '变更邮箱') }}
            </div>
        </div>
        <div class="col-md-3">
            {% block setting_content %}{% endblock %}
        </div>
    </div>
</div>

{% endblock %}